@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--primary-color: rgba(168, 85, 247, 1);
}
::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 400ms;
}
.bg-gradient {
	@apply bg-gradient-to-b from-gray-50 to-primary-400 dark:from-gray-800 dark:to-primary-900;
}

/* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='checkbox']:focus,
[type='radio']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
	/* --tw-ring-color: var(--primary-color);
	border-color: var(--primary-color); */
	--tw-ring-color: transparent;
	border-color: transparent;
}

.grow-on-hover {
	@apply transition ease-in-out hover:-translate-y-1 hover:scale-110;
}

/* FORMS */
[data-label],
[data-label='gpac'],
.label {
	@apply m-1 mt-4 block font-semibold text-gray-600;
}
[data-text-input],
[data-text-input='gpac'],
.input {
	@apply block w-full rounded-md border border-gray-300 px-4 py-3 text-gray-900 placeholder-gray-400 focus:border-gray-300;
}
[data-invalid],
.validation {
	@apply my-2 block text-sm text-red-600;
}
.button {
	@apply my-4 inline-block w-full rounded-md bg-orange-900 px-5 py-3 text-sm font-semibold text-white transition duration-200 hover:bg-gray-900;
}
.checkbox {
	@apply mr-2 h-5 w-5 rounded-md border border-gray-200 text-violet-500 checked:border-2 checked:border-violet-500 checked:ring-0 focus:border focus:border-gray-200 focus:ring-0;
}
.message {
	@apply my-8 block text-lg font-semibold text-gray-600;
}

[data-faq-description] p {
	@apply py-1 text-lg;
}
[data-faq-description] ul {
	@apply ml-10 list-outside list-disc text-lg;
}
[data-faq-description] h4 {
	@apply mb-2 mt-4 text-2xl font-semibold;
}
[data-faq-description] h5 {
	@apply mb-2 mt-4 text-xl font-semibold;
}
